{% extends 'app_main/base.html' %}

{% block body_block %}

<a style="text-decoration: none; color: black;" href="{% url 'welcome' %}"><h1 class="text-center mt-md-3 mt-2">Yapmak Lazım</h1></a>

<h3 class="mt-md-3 mt-2">Şifre değiştir</h3>
<p>Aktif kullanıcının email adresi: <b>{{ user.email }}</b></p>

<form method="POST">
    {% csrf_token %}

    <p style="margin-bottom: 0px">{{ form.old_password.label }}:</p>
    {{ form.old_password }}
    {% for error in form.old_password.errors %}
        <p style="color: darkred; margin-top: 0px;">{{ error }}</p>
    {% endfor %}

    <p style="margin-bottom: 0px">{{ form.new_password1.label }}:</p>
    {{ form.new_password1 }}
    
    <p style="margin-bottom: 0px">{{ form.new_password2.label }}:</p>
    {{ form.new_password2 }}
    {% for error in form.new_password2.errors %}
        <p style="color: darkred">{{ error }}</p>
    {% endfor %}

    <!-- other errors -->
    {% if form.non_field_errors %}
        <div style="color: red">
            <p>{{form.non_field_errors}}</p>
        </div>
    {% endif %}

    <br>
    <button class="btn btn-primary" type="submit">Şifremi değiştir</button>
</form>

<script>
    var element = document.getElementById("id_old_password");
    element.classList.add("form-control", "mb-2")

    var element = document.getElementById("id_new_password1");
    element.classList.add("form-control", "mb-2")

    var element = document.getElementById("id_new_password2");
    element.classList.add("form-control", "mb-2")
</script>

{% endblock body_block %}