{% extends 'app_main/base.html' %}

{% block title_block %}Yapmak Lazım{% endblock title_block %}

{% block body_block %}
    {% load static %}

    <h1 class="text-center mt-md-3 mt-2">Yapmak Lazım</h1>
    <p class="text-center m-0">Şunlar, bunlar, onlar için geliştirilmiş bir to-do list uygulaması.</p>
    <p class="text-center m-0">(Eğitim amaçlı bir uygulama olduğu için tasarıma pek özen göstermedim.)</p>

    <div class="d-flex justify-content-center mt-4">
        <a href="{% url 'login' %}" class="btn btn-success p-3 mx-2"><font size="+1">Giriş yap<font></a>
        <a href="{% url 'register' %}" class="btn btn-warning p-3 mx-2"><font size="+1">Kayıt ol<font></a>
    </div>
    <br>

    <p style="margin: 0px">Sırf static files kullanmış olayım diye eklenen görseller: </p>
    <div class="row">
        <img src="{% static 'app_main/img1.png' %}" class="img-fluid col-md-6 col-12" style="border: 4px solid gray">
        <img src="{% static 'app_main/img2.png' %}" class="img-fluid col-md-6 col-12" style="border: 4px solid gray">
    </div>

{% endblock body_block %}